@charset "UTF-8";

/***** trailDetail *****/

/* section main */
.contents > h1 > i {
    font-size: 25px;
}
.contents > h1 > i.fa-diagram-project {
    font-size: 20px;
}

.section {
	height: 155px;
	width: 820px;
	padding: 0px 32px;
}
.section > div.location {
	font-size: 12px;
	font-weight: bold;
}
.section > div.stat {
	position: relative;
	display: inline-block;
	height: 49px;
	width: 95px;
	margin: 15px 25px 20px 0px;
}
.section > div.stat2 {
	font-size: 12px;
	color: #494950;
}
.section > div.stat-margin,
.section > div.stat span.stat-margin {
	width: 180px;
}
.section > div.stat .stat-subtext {
	height: 15px;
	width: 94px;
	font-size: 12px;
	color: #494950;
	display: block;
}
.section > div.stat .stat-text {
	height: 34px;
	width: 94px;
	font-size: 28px;
	display: block;
}

/* map-container main */
.map-container {
	/*height: 1425px;*/
	height: 1150px;
	width: 100%;
	border-bottom: 1px solid #dee2e6;
}
.map-container-left {
	height: 100%;
	width: 800px;
	float: left;
}
.map-container-right {
	height: 100%;
	width: 415px;
	float: right;
}

/* map-container-left main */
/* map */
.main-map {
	height: 500px;
	width: 100%;
}

/* map info */
.map-info {
	height: 700px;
	width: 100%;
}

.check-info {
	height: 20px;
	margin-top: 17px;
}
.check-info > span {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px;
    font-size: 14px;
}
.check-info > span.true {
    color: #fc5200;
}

/* map-detail-info */
.map-info .map-detail-info {
	display: flex;
	margin-top: 20px;
    margin-bottom: 20px;
}
.map-detail-info .user-modify {
	margin-top: 17px;
    padding-left: 140px;
}
.map-detail-info .user-modify > i {
	padding-left: 10px;
}

/* tag */
.tag-btn {
	width: 200px;
    margin: 17px 8px;
}
.tag-btn > button.btn1 {
	background-color: #829460;
}
.tag-btn > button.btn2 {
	background-color: #674747;
}
.tag-btn > button.btn3 {
	background-color: #F96666;
}
.tag-btn > button.selected-tag {
	border: 3px solid var(--bs-body-color);
}

/* map-detail-text */
.map-detail-text {
	width: 700px;
    height: 80px;
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 8px 6px;
    padding: 5px;
}

/* map-detail-chart */
.map-detail-chart > h2, .map-detail-meeting > h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 12px 20px 0px;
	margin: 35px 0px 15px;
}
.detail-chart {
	height: 300px;
    width: 650px;
    background-color: lightgray;
    margin-left: 60px;
}
/*.detail-border {
	margin-top: 50px;
}*/

/* map-detail-meeting */
.detail-meeting {
	height: 120px;
    width: 700px;
    margin-left: 20px;
    display: flex;
}
.detail-meeting > i {
	padding: 45px 20px;
}

.meetings {
	width: 600px;
	overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.metting {
	width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
.metting > img {
	height: 65px;
	width: 65px;
}

/* map-container-right main */
/* map sidebar */
.map-sidebar {
	height: 300px;
	width: 100%;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	margin-bottom: 30px;
}
.map-sidebar > h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 12px 20px 0px;
	margin: 0px 0px 15px;
}
.map-sidebar > div.detail-bar {
	display: flex;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfe8;
	height: 86px;
}
.map-sidebar > div.detail-bar > img,
.map-sidebar > div.ranking-detail-bar > img {
	height: 65px;
	width: 65px;
	margin-left: 20px;
}
.detail-bar .detail-text,
.ranking-detail-bar .detail-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}
.record-bar .detail-text {
	margin-left: 20px;
	margin-bottom: 10px;
}
.record-bar .detail-text > span {
	margin-right: 25px;
}
.record-bar .detail-text > span.textName {
	width: 120px;
	display: inline-block;
    color: #494950;
}
.record-bar .detail-text > i.fa-chevron-right {
	float: right;
	margin-right: 20px;
}

/* share-sidebar */
.share-sidebar {
	height: 225px;
}
.share-detail {
	margin-top: 12px;
}

/* ranking-sidebar */
.ranking-sidebar {
	height: 480px;
}
.map-sidebar > div.ranking-detail-bar {
	display: flex;
	padding-bottom: 20px;
}

/* segment-list-sidebar */
.segment-list-sidebar {
	height: 250px;
}
.segments-sidebar > ul {
	padding-left: 10px;
}
.segments-sidebar > ul > li {
	position: relative;
	height: 60px;
	margin: 5px 0px;
	list-style: none;
}
.segments-sidebar > ul > li:hover {
	background-color: rgb(255, 215, 196);
}
.segments-sidebar > ul > li .fa-solid {
	height: 30px;
	width: 23px;
	margin: 10px;
	float: left;
	color: #fc5200;
}
.segments-sidebar > ul > li .selected-maker {
	color: #0d6efd;
}
.segments-sidebar > ul > li > div {
	padding-top: 5px;
}
.segments-sidebar > ul > li > div > span {
	height: 5px;
	width: 5px;
	color: #494950;
	font-size: 14px;
	text-align: right;
}
.segments-sidebar > ul > li > div > span.sideBar-title {
	font-weight: bold;
}

/* comments main */
.segment-comments {
	height: 1000px;
	width: 100%;
	/*background-color: lightcyan;*/
	display: flex;
}

.comment-nav {
    height: 150px;
    width: 175px;
    margin-left: 12px;
    margin-right: 40px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.comment-nav .selected {
	background-color: #fc5200;
	color: white;
	font-weight: blod;
}
.comment-nav > div {
    height: 35px;
    width: 100%;
    background-color: #f0f0f5;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
}
.comment-nav > div:hover {
	background-color: #fc5200;
	color: white;
	font-weight: blod;
}
.comment-nav > i {
    font-size: 30px;
    margin-top: 50px;
}

/* comment-container main */
.comment-container {
	width: 1075px;
	background-color: #fff5f01f;
}

/* comment-bar */
.comment-bar {
    padding: 10px 100px;
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.comment-bar > div.comment-number,
.comment-bar > div.form-check {
	margin-right: 30px;
}
.comment-bar > div.btn-group {
	margin-right: 10px;
}
.comment-bar > div.btn-group > button.selected-order {
	background-color: var(--bs-body-color);
    color: white;
}

/* 후기 등록 modal */
.comment-bar > button.btn-secondary {
	height: 34px;
	width: 166px;
	float: left;
	margin-right: 175px;
	background-color: white;
	color: #242428;
	overflow: hidden;
	border-color: #dee2e6;
	font-size: 14px;
}
.comment-bar .modal {
	--bs-modal-width: 685px;
}
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer {
	padding: 5px 25px;
}
.modal .modal-dialog .modal-content {
	width: 600px;
	min-height: 520px;
}
.modal .modal-dialog {
	margin: 100px auto;
}
.modal .modal-dialog .modal-content .modal-footer > button {
	height: 34px;
}

/* modal-body */
/*.modal-body {
	display: flex;
}*/
.mb-3 .form-control {
	width: 547px;
    height: 150px;
    margin: 0 10px;
}
.modal-input {
	height: 200px;
}

/* 이미지 modal img-content */
.img-content {
	height: 250px;
    width: 300px;
    margin-left: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}
.img-content > img,
.detail-img-content > img,
.comment-img > img,
.gallery-img .comment-img > img,
.meetingInfo .comment-img > img {
	/*height: 100%;
	object-fit:cover;*/
	height: 100%;
	width: 100%;
	object-fit:cover;
}
.img-content .imgCount,
.comment-img .imgCount,
.gallery-img .comment-img .imgCount,
.meetingInfo .comment-img .imgCount {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 30px;
   height: 30px;
   background-color: black;
   opacity: 50%;
   color: white;
   line-height: 30px;
   text-align: center;
   font-size: 17px;
}

/* 작성 버튼 변경 */
.modal-footer > button.btn-secondary {
	background-color: #fc5200;
	--bs-btn-border-color: #fc5200;
}
.modal-footer > button.btn-secondary:hover {
	background-color: #fc5200;
	border-color: rgb(255, 215, 196);
}

.comment-bar .form-check {
	font-size: 14px;
}

/* 이미지 preview-list */
.preview-list {
	display: flex;
	flex-wrap: wrap;
}
.preview-list > div {
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 6.5px;
}
.preview-list > div img {
    height:100%;
    width:100%;
    object-fit:cover;
}
.preview-list > div button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
.preview-list > div:hover button {
	display: block;
}
.preview-list > div:hover img {
	filter: blur(10px);
	-webkit-filter: blur(10px);
}
.mb-3 .dropzone {
	min-height: 130px;
}

/* filter button */
.comment-bar .btn-group {
	height: 34px;
}
.btn-group > button.btn {
	border-color: #dee2e6;
	font-size: 14px;
}
.btn-group > button.selected-filter {
	background-color: var(--bs-body-color);
	color: white;
}
#cmt-list-nav > button.nonList {
	display: none;
}

/* comment-list main */
.comment-list .selected {
	background-color: #fff5f0;
}
.comment-detail {
	height: 180px;
	padding-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdfe8;
}
.comment-detail:hover {
	background-color: #fff5f0;
}

/* 이미지 comment-list comment-img */
.comment-detail .comment-img {
	height: 150px;
    width: 200px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* comment-content */
.comment-content {
    height: 150px;
    width: 300px;
    margin-right: 80px;
}
.comment-content > div {
	height: 125px;
    width: 100%;
    background-color: white;
}

/* comment-info */
.comment-info {
	display: flex;
    align-items: center;
    width: 230px;
}
.comment-info > img,
.img-info > div > img {
	height: 60px;
	width: 60px;
}
.comment-info .detail-text,
.img-info .img-info-detail .detail-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}
.comment-info .user-modify,
.img-info .img-info-detail .user-modify {
	width: 50px;
	margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.comment-info .user-modify > i,
.img-info .img-info-detail .user-modify > i {
	font-size: 15px;
}

/* 후기 수정 modal */
.comment-info .modify-modal {
	display: flex;
    align-items: center;
    justify-content: center;
}
.user-modify .modal {
	--bs-modal-width: 685px;
}

/* 후기 상세 modal */
.detailModal {
	display: flex;
    align-items: center;
    justify-content: center;
}
.detailModal .modal {
	--bs-modal-width: 720px;
}
.detailModal .modal-body {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-img-content {
	height: 450px;
    width: 500px;
	display: flex;
    justify-content: center;
}
.modal-body .fa-chevron-left, .modal-body .fa-chevron-right {
	font-size: 30px;
	margin: 200px 30px 0px 30px;
}

.img-slider {
	display: flex;
}

/* img-info */
.img-info {
	margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.img-info > span {
	margin-bottom: 20px;
	font-size: 25px;
}
.img-info-detail {
	display: flex;
    align-items: center;
}

/***** trailDetailGallery *****/

/* gallery-list main */
.gallery-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* 이미지 gallery gallery-img */
.gallery-img {
    height: 210px;
    width: 220px;
    border: 1px solid #dee2e6;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.gallery-img:hover {
	background-color: #fff5f0;
}

/* 이미지 gallery comment-img */
.gallery-img .comment-img {
	height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

/***** trailDetailDeleted *****/

.contents > h1 > i.deleted {
    color: #fc5200;
}
.map-container-left .deleted {
	border: 1px solid black;
}

/***** trailDetailMeetingLog *****/

/* meetingList main */
.meetingList {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.meetingList .meeting {
	width: 450px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px -3px rgb(77, 71, 71);
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.meetingList .meeting:hover {
	background-color: #fff5f0;
}
.meetingList .meeting .meetingTitle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meetingList .meeting .meetingTitle .left {
	font-size: 17px;
    font-weight: bold;
}

.meetingList .meeting .meetingContent {
	display: flow-root;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
}
.meetingList .meeting .meetingContent .course {
	width: 40%;
	height: 200px;
	overflow: hidden;
	border-radius: 10px;
}
.meetingList .meeting .meetingContent .course img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.meetingList .meeting .meetingContent .meetingInfo {
	width: 60%;
	height: 200px;
	padding-left: 15px;
}
.meetingList .meeting .meetingContent .meetingInfo p {
	margin-bottom: 5px;
    font-size: 14px;
}
.meetingList .meeting .meetingContent .meetingInfo p > i {
    font-size: 14px;
    width: 25px;
}
.meetingList .meeting .meetingContent .meetingInfo .info-border {
	height: 45px;
    overflow: hidden;
	padding-bottom: 5px;
    border-bottom: 1px solid #dee2e6;
}
.left {
	float: left;
}
.right {
	float: right;
}
.info-none {
	padding: 10px;
}

/* 이미지 meetingLog comment-img */
.meetingInfo .comment-img {
	height: 100px;
    width: 150px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* comment-nav 변경 */
.comment-number .fa-user-group {
	font-size: 12px;
}
.comment-meeting-bar {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.meeting-check {
	margin-left: 450px;
}

/***** trailDetailWalkLog *****/

/* 이미지 walkLog comment-img */
.left .comment-img {
	height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}
.meetingInfo .img-info {
	margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.meetingTitle .walkLog {
	margin-right: 20px;
}

.meetingList .walkLog {
	width: 470px;
    height: 190px;
}
.meetingList .meeting .walkTitle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.meetingList .meeting .meetingTitle .walk-title1 {
	margin-right: 50px;
}
.meetingList .meeting .meetingTitle .walk-title2 {
	margin-right: 150px;
}

.img-info-detail > span.walkLogLike {
	margin-left: 30px;
}

.img-info-detail .dog-img > img {
	height: 40px;
	width: 40px;
}
.leftImg {
	margin-left: 35px;
}
.rightImg {
	margin-left: 5px;
}

.meetingContent .walk-img {
	margin: 10px;
	margin: 10px 10px 0px 15px;
}