@charset "UTF-8";

/***** trailMyList *****/

/* 대표 이름색 변경 */
.contents .myList,
.contents table tr td i.fa-solid {
	color: #fc5200;
}

/* table */
.contents table {
	margin-top: 20px;
}
.contents table tr:first-child th {
	background-color: #f7f7fa;
	text-align: center;
}
.contents table tr td:nth-child(1),
.contents table tr td.img {
	text-align: center;
}
.contents table tr td:nth-child(3) {
	color: #0d6efd;
}
.contents table tr td:nth-child(4) {
	overflow: hidden;
}

/* category */
.clubCategory {
    display: flow-root;
    border-bottom: 1px solid #dfdfe8;
    margin: 20px 0px;
}
.tab {
	text-align: center;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #242428;
    float: left;
    transform: translateY(1px);
}
.active {
	border: 1px solid #dfdfe8;
	border-top: 2px solid #fc5200;
	border-bottom: 2px solid white;
}

/* map filters main */
.segment-map-filters {
	position: relative;
	height: 80px;
	width: 100%;
}

/* search */
.segment-map-filters .input-group {
	position: relative;
	height: 34px;
	width: 317px;
	float: left;
	margin: 0px 25px 0px 5px;	/* 상우하좌 */
}
.input-group .form-control {
	height: 34px;
}
.input-group > button {
	height: 34px;
	width: 56.33px;
}
.input-group > button.btn {
	--bs-btn-border-color: #dee2e6;
}

/* tag modal */
.segment-map-filters > button.btn-secondary {
	height: 34px;
	width: 166px;
	float: left;
	margin-right: 25px;
	background-color: white;
	color: #242428;
	overflow: hidden;
	border-color: #dee2e6;
	font-size: 14px;
}
.segment-map-filters .modal {
	--bs-modal-width: 450px;
}
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer {
	padding: 5px 25px;
}
.modal .modal-dialog {
	margin: 200px auto;
}
.modal .modal-dialog .modal-content .modal-body {
	padding: 25px;
}
.modal .modal-dialog .modal-content .modal-body > button.btn1 {
	background-color: #F96666;
}
.modal .modal-dialog .modal-content .modal-body > button.btn2 {
	background-color: #674747;
}
.modal .modal-dialog .modal-content .modal-body > button.btn3 {
	background-color: #829460;
}
.modal .modal-dialog .modal-content .modal-body > button.selected-tag {
	border: 3px solid var(--bs-body-color);
}
.modal .modal-dialog .modal-content .modal-body .step2 {
	margin-top: 10px;
}
.modal .modal-dialog .modal-content .modal-body .form-check {
	float: right;
	text-align: right;
	font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-footer > button {
	height: 34px;
}

/* filter button */
.segment-map-filters .btn-group {
	height: 34px;
	margin-right: 25px;
}
.btn-group > button.btn {
	border-color: #dee2e6;
	font-size: 14px;
}
.btn-group > button.selected-filter {
	background-color: var(--bs-body-color);
	color: white;
}

/* my button */
.segment-map-filters > button.btn-primary {
	height: 34px;
	font-size: 14px;
	float: right;
	margin-right: 5px;
	background-color: #fc5200;
	--bs-btn-border-color: #fc5200;
}
.segment-map-filters > button.btn-primary:hover {
	background-color: #fc5200;
	border-color: rgb(255, 215, 196);
}

/* tag */
.tag-btn > button.btn1 {
	background-color: #F96666;
}
.tag-btn > button.btn2 {
	background-color: #674747;
}
.tag-btn > button.btn3 {
	background-color: #829460;
}
.tag-btn > button.selected-tag {
	border: 3px solid var(--bs-body-color);
}

/* 등록 버튼 추가 */
.segment-map-filters .fa-circle-plus {
	float: right;
	margin: 0px 10px;
	color: #0d6efd;
	font-size: 34px;
}
.segment-map-filters .fa-circle-plus:hover {
	color: rgb(1, 48, 118);
}