@charset "UTF-8";



.contents .dateGroup {
	float: right;
	width: 1100px;
}

.contents .ageCheck{
	float: left;
}

.buttonGroup {
	text-align: center;
}

.contents .inputname{
	font-size: 25px;
	font-weight: bold;
}

	