@charset "UTF-8";

.contents table {
	margin-top: 20px;
}

.contents table tr:first-child th{
	background-color: #f7f7fa;
}

    
.draggble > tr > td:last-child{
	padding: 0;
    text-align: center;
    font-size: 26px;
}

.draggble > tr > td i {
	cursor: pointer;
}