@charset "UTF-8";

.coverImg{
	width:100%;
    height:100%;
    object-fit:cover;
}

.pageTitle {
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
}

.inputTitle {
	font-size: 20px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;
}

.inputGroup{
	width: 100%;
	float: left;
	margin-bottom: 40px;
}

.inputGroup .items{
	float: left;
	margin-right: 100px;
}

.inputGroup .items a{
	text-decoration: none;
	font-weight: bold;
	color: #212529;
}

.dogList {
	display: flex;
}

.dogList .dog {
	border: 1px solid rgb(140, 140, 140);
	width: 200px;
	margin: 0 10px;
	border-radius: 10px;
}

.dogList .dog .imgBox {
	margin: 10px;
	border-radius: 5px;
	width: 180px;
	height: 180px;
	overflow: hidden;
}

.dogList .dog p {
	text-align: center;
	font-size: 17px;
}

.dogList .dog p a{
	text-decoration: none;
	font-weight: bold;
	color: #212529;
}

.dog .checkbox{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5px;
}

.dog .checkbox input{
	border: 1px solid rgb(140, 140, 140);
	border-radius: 0.25em;
	width: 15px;
	height: 15px;
}

.dogSlickBox{
	display: flex;
	justify-content: center;
}

.dogSlickBox .dogList{
	width: 89%;	
}

.dogSlickBox .lB1{
	margin-right: 6px;
}

.dogSlickBox .rB1{
	margin-left: 10px;
}

.slick-dots{
    text-align: center;
    /* position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); */
    font-size: 0;
    margin-top: 30px;
}
.slick-dots li{
    width: 16px;
    height: 16px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
.slick-dots .slick-active{
    background-color: rgb(0, 128, 255);
}
.slick-dots li button{
    display: none;
}

.slick-arrow{
	border: none;
	background-color: white;
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0 70px;
}


.inputItem{
	width: 100%;	
}

.mapImg{
	margin-top: 10px;
	width: 100%;
	height: 400px;
}


.contents .form-control{
	margin-bottom: 60px;
}

.contents .meetingTitle {
	width: 400px;
}

.btnArea {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	float: right;
}


.btnArea .colored{
	background-color: rgb(255, 64, 64);
	border: 1px solid rgb(170, 0, 0);
	color: white;
}

.btnArea .colored:hover{
	transition: all 0.5s;
	background-color: rgb(170, 0, 0);
	border: 1px solid rgb(170, 0, 0);
	color: white;
}

.endMessage{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 10px 0;
	background-color: lightgray;
}






